# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Matplotlib
.matplotlib/

# Flask
instance/
.webassets-cache

# Operating System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Local tests/scratch
scratch/
